@model AssignmentOne.Models.Benefit

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Details</title>
</head>
<body>
    <div>
        <h4>Benefit</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.MemberPrefixCode)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.MemberPrefixCode)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.CategoryType)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.CategoryType)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.Fees)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Fees)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.CreditLimit)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.CreditLimit)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.Max_Adult)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Max_Adult)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.MaxChild)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.MaxChild)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.Category.MembershipName)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Category.MembershipName)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.Duration.DurationName)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Duration.DurationName)
            </dd>
    
        </dl>
    </div>
    <p>
        @Html.ActionLink("Edit", "Edit", new { id = Model.BenefitId }) |
        @Html.ActionLink("Back to List", "Index")
    </p>
</body>
</html>
